@charset "UTF-8";

/* Интегрируем переменные с цветами */

/* Обозначим цвет всего сайта */

.slick-active {
  outline: none;
}

html {
  font-size: 14px;
}

body {
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
}

h2 {
  font-size: 24px;
}

a {
  color: #009adf;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.btn-primary {
  background-color: #009adf;
  border-bottom: 5px solid #0077ac;
}

.btn-primary:hover {
  background-color: #00a1e9;
}

.top-nav {
  background-color: #fff;
  padding: 15px;
}

.top-nav_menu {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav_menu li {
  margin-right: 45px;
}

.top-nav_menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #131313;
  font-weight: 700;
}

.top-nav_menu li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #009adf;
  -webkit-transform: translateY(37px) scale(0);
  transform: translateY(37px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.top-nav_menu li a:hover {
  text-decoration: none;
}

.top-nav_menu li a:hover::after {
  -webkit-transform: translateY(37px) scale(1);
  transform: translateY(37px) scale(1);
}

.left-sidebar {
  margin-top: 40px;
}

.left-sidebar_menu {
  padding: 0;
  background-color: #fff;
  list-style: none;
}

.left-sidebar_menu li {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.left-sidebar_menu li:first-child a {
  padding-top: 20px;
}

.left-sidebar_menu li:last-child a {
  padding-bottom: 20px;
}

.left-sidebar_menu li:hover {
  background-color: #009adf;
}

.left-sidebar_menu li:hover a {
  color: #fff;
}

.left-sidebar_menu li a {
  display: block;
  padding: 15px 29px;
  font-size: 16px;
  font-weight: 400;
  color: #131313;
  text-decoration: none;
}

.left-sidebar_object {
  margin-top: 30px;
  background-color: #fff;
}

.left-sidebar_object-description {
  padding: 30px;
}

.left-sidebar_object-description h3 {
  font-weight: 400;
  text-transform: uppercase;
}

.left-sidebar_object img {
  width: 100%;
}

.content {
  margin-top: 40px;
}

.directions {
  margin-top: 80px;
}

.directions-block {
  height: 220px;
  margin: 0 15px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.directions-block h3 {
  color: #009adf;
}